<h2>Title: <%= @article.title %></h2>


<p>
  Description: <%= @article.description %>
</p>
<div class="footNav col-sm-6 offset-sm-4">
  <%= link_to "Back to Article Index", articles_path %> |
  <%= link_to "Edit this Article", edit_article_path(@article) %>
</div>