@import "bootstrap";

h1 {
  color: #343a40;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}


.jumbotron {
  background-image: asset-url('space.png');
  background-size: cover;
  height: 6
  600px;
}

.jumbotron h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 2.7em;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
} 

.jumbotron a {
  text-align: center;
  font-size: 1.0em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-xlrg {
	font-size: 1.7em;
	color: dark gray;
}

.card{
  margin-bottom: 15px;
}

.card-category{
  margin-bottom: 5px;
  padding: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;

}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.description {
  border-bottom: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.description-body p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
  color: #343a40;
  list-style: none;
}

.article-title a {
  color: teal;
  list-style: none;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-list {
  margin-top: 5px;
  list-style: none;
  padding-left: none;
}


footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid black;
	color: #222;
}

footer small {
	float: left;
}

footer a:hover {
  color: green;
}

footer ul {
	float: right;
	list-style: none;
}
footer ul li {
	float: left;
	margin-left: 15px;
}

footer a {
	color: #222;
}

a {
	color: #222;
}

a:hover {
  color: green;
}

.BackToArticle {
  text-align: right;
}

.pagination {
  justify-content: center;
}

.listing {
  padding-left: 0px;
}

.checkbox-inline {
  padding-right: 15px;
}

.badge {
  background-color: lightblue;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}