<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Nate B
    </small>
    <nav>
      <ul>
      	<li><%= link_to "About", about_path %></li>
      </ul>   
    </nav>
  </footer>
</div>